@include mz-media-custom-up($breakpoint-xs-min) {
  .menu {
    &__tab {
      padding: 0 20px 0 20px;
      position: relative;
      margin: 0;
      border-left: 4px solid $accent1-700;
      border-right: 4px solid $accent1-700;
      border-bottom: 4px solid $accent1-700;
      margin-top: 30px;
    }

    &__item {
      font-size: 20px;
      padding: 15px 30px;
      color: #41512b;
      letter-spacing: 5px;
      border-bottom: solid 2px $accent1-700;
      margin-bottom: 10px;
    }

    &__wrapper {
      padding: 15px;
      
    }

    &__product {
      border: 4px solid $accent1-700;
      margin-top: 20px;
      background: $accent1-100;


      // &::before {
      //   height: 30px;
      //   width: 100%;
      //   content: "";
      //   position: absolute;
      //   left: 0;
      //   bottom: 54%;
      //   background: url(//dauhomemade.vn/apps/themes/bundau/css/../img/serrations.png);
      // }
    }

    &__product-title {
      color: #38260e;
      font-size: 20px;
      line-height: 20px;
      font-weight: bold;
      margin-top: 20px;
    }

    &__product-count {
      border: 1px solid;
      width: 70px;
      height: 30px;
      text-align: center;
      margin: 0 68%;
      @include flex-box("", center, center);
    }

    &__product-btn-order {
      border: 2px dotted;
      font-size: 15px;
      padding: 5px 10px;
      color: #38260e;
      width: 42%;
      margin: 5px 0;
    }

    &__product-image {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

@include mz-media-custom-up($breakpoint-sm-min) {
  .menu {
    &__product {
      &::before {
        top: 442px;
      }
    }

    &__product-image {
      height: auto;
    }

    &__list-product {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@include mz-media-custom-up($breakpoint-md-min) {
 .menu {
   &__product {
     &::before {
      top: 577px;
     }
   }
 }
}
